
$color-primary: #029f59;

$color-secondary: #f4f4f4;
$color-dark: #333333;
$color-light: #ffffff;
$color-accent: #ff9900;


$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
